# dependencies
node_modules/

# environment variables
.env

#notes
steps.txt
git_steps.txt
postmanTests.txt


# Temp
frontend/
Readme.md
backend/controllers/userController.js
backend/routes/userRoutes.js    
backend/middleware/upload.js

#Tests
backend/routes/testRoutes.js
