
.auth-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fb;
}

.auth-card {
  width: 350px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 5px;
}

.auth-card p {
  color: #666;
  font-size: 14px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.auth-form input {
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.primary-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.switch-text {
  margin-top: 10px;
  font-size: 13px;
}

.switch-text span {
  color: #007bff;
  cursor: pointer;
}
